form {
  /* border: 1px solid black;
  padding: 10px; */
  /* display: flex; */
  width: 500px;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  background-color:white;

}
label {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 5px

}

.login-div{
  display: flex;
  justify-content: center;
  align-items: center;

}

body {
  background-color: #eee;
}

.title{
  height: 50px;
  width: 175px;
  margin: auto;
  /* position: relative; */
  left: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-element {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}
#form-submit {
  width: 50%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

#button-style{
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 3px 6px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

.form-buttons{
  display: flex;
  margin-bottom: 8px;
  flex-direction:column;
  align-items: center;
}

.login-button{
  margin-bottom: 5px;
}
