.splash-div{
  width: auto;
  height: auto;
  display:flex;
  flex-direction:column;
  /* justify-content:center; */
  align-items: center;
}
/* } */

.splash-title{
  height: 50px;
  width: 200px;
  margin: auto;
  /* position: relative; */
  left: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: bold;
}
