.user-details {
  list-style: none;
  text-align: center;
  font-size: 25px;
  border-bottom: 1px rgba(9, 30, 66, 0.25) solid;
}

#user-info {
  margin-bottom: 12px;
}

#user-follow-btn {
  margin-bottom: 12px;
}

#user-unfollow-btn {
  margin-bottom: 12px;
}

ul {
  list-style-type: none;
}

/* li {
  border: 1px black solid;
} */

#user-photo-container {
  display: flex;
  flex-wrap: wrap;
}

.user-photo {
  margin: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
