#user-list-container {
    text-align: center;
    margin-top: 70px;
}

.users {
    font-size: 20px;
    margin-right: 35px;
    margin-bottom: 5px;
}

.users>a {
    text-decoration: none;
    color: black;
}