.post-container{
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  border: 1px solid black;

}

.p-ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.photo-li{

  list-style: none;

}

.photo-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.feed-container {
  width: 90%;
}
