.photo-container {
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-container{
  width: 60%;
  margin-right: 20px;
  height: 300px;
}

.photo {
  width:80%;
  height: 400px;
}

.caption {
  text-align: center;
}

#comments-form{
  width: 50%;
  color: blue;
  margin-top: 0;
}
