.modal-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: none;
    height: 500px;
}

.button-menu-container {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .3);
    height: 500px;
    padding-top: 0;
}

.image-container {
    width: 500px;
    height: 500px;
}

.photo-info {
    display: flex;
    justify-content: space-between;
}

.comments-title {
    text-align: center;
}
